.checkout-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.checkout-container h2 {
  text-align: center;
  color: #222;
  margin-bottom: 25px;
  font-size: 26px;
}

.checkout-container h3 {
  color: #444;
  margin-top: 20px;
  font-size: 18px;
}

.checkout-container textarea,
.checkout-container input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s;
}

.checkout-container textarea:focus,
.checkout-container input:focus {
  border-color: #50555b;
}

.promo-section {
  display: flex;
  gap: 10px;
  margin-top: 1px;
}

.promo-section button {
  background-color: #046350;
  border: none;
  color: white;
  padding: 5px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size:15px;
  transition: 0.3s;
}

.promo-section button:hover {
  background-color: #494f55;
}

.products-list {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.products-list div {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.products-list div:last-child {
  border-bottom: none;
}

.total {
  margin-top: 15px;
  font-weight: bold;
  color: #222;
}

.place-order-btn {
  display: block;
  width: 100%;
  background-color: #046350;
  color: white;
  border: none;
  padding: 12px 0;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.place-order-btn:hover {
  background-color: #424b44;
}

h4 {
  color: #d9534f;
  margin-top: 8px;
}
