

.home-container {
  padding: 10px;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 5px;
}

.product-card {
  border: 1px solid #dfd4d4;
  padding: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.5s ease; 
  cursor: pointer;
  text-decoration: none; /* underline hata dega */
  color: inherit; /* original text color rakhega */
}

.product-card:hover {
  transform: scale(1.05); 
  background-color: #ffffff; 
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}


.product-card img {
  width: 100px;
  height: 120px;
  
}

.product-card h3 {
  font-size: 13px;
  margin: 10px 0;
  height: 80px;
  overflow: hidden;
}

.product-card p {
  color: #046350;
  font-weight: bold;
  
}
.add-to-cart-btn {
  background-color: #046350;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 13px;
  transition: all 0.3s ease;
}


/* css for category and filter  */
.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.search-input {
  padding: 8px 12px;
  width: 500px;
  border-radius: 10px;
  border: 2px solid #046350;
  
}

.search-input:focus {
  border-color: #046350;
}

.category-dropdown {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  border-color: #046350;
}



